.ContactList {
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.ContactList__form {
  width: 300px;
  margin-top: 5px;
  margin-left: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.deleteBtn {
  margin: 3px;
}
